@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$color-default:#424fff;
$color-primary:#0d6efd;
$color-danger:#dc3545;
$color-info: #0dcaf0;
$color-success : #198754;


*{
  font-family: "Segoe UI";
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  background-color: transparent;

  &:hover{
    cursor: pointer;
  }
}

#main-menu .menu>li>a {
  line-height: 80px;
  display: inline-block;
  padding: 0 20px;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header{
  display: flex;
  position: fixed;
  background-color: $color-default;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 60px;
  transition: all .3s;
  box-shadow: 0 -4px 2px 7px rgba(34, 60, 80, 0.21);
}

.sticky:hover{
  opacity: 1 !important;
}

.sticky{
  height: 52px;
  opacity: 0.96;
}

#cursor-circle{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b1b1b1;
  backdrop-filter: blur(20px);
  z-index: 100;
}

.header-left{
  padding: 10px;
  cursor: pointer;
}

.header-left span{
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}
.header-right{
  display: flex;
  height: 100%;
}

.list-catalog{
  display: flex;
  align-items: center;
  height: 100%;
}

.list-catalog > li{
  display: flex;
  text-align: center;
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-content: center;*/
  /*padding: 10px;*/
  padding: 0 10px;
  height: auto;
  transition: all 0s;
}

.list-catalog li:hover{

}

.list-catalog > li > a{
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  transition: all 0.5s;
}

.list-catalog > li:hover .dropdown-content{
  display: block;
}

.list-catalog > li:hover{
  background-color: #353fc7;
}

.dropdown-content{
  display: none;
  max-width: inherit;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  z-index: 5;
  background-color: #353fc7;
  position: absolute;
  width: inherit;
  padding: 10px 0;
  transition: all .2s;
}

.dropdown-content > li > a{
  font-size: 1.1rem;
  color: #fff;
}

.dropdown-content > li{
  transition: all .2s;
  padding: 10px;
}

.dropdown-content > li:hover{
  background-color: #404bff;
}

.card-pop{
  position: absolute;
  width: 100%;
}

.section{
  background-color: #d4f8ff;
  margin: 0 0 10px 0;
  padding: 20px;
}

.ripple{
  overflow: hidden;
  position: relative;
}

.p-description{
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.h1-title{
  font-size: 2rem;
}

.section-title{
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 1.8rem;
}

section{
  margin: 0;
  padding: 20px;
  border: 0 solid rgba(0, 0, 0, 0.135);
  border-bottom-width: 1px;
}

.aria-expanded{
  transition: all 1s;
  display: block !important;
}

.expansion-panel{
  background-color: transparent;
  max-height: 100%;
  box-shadow: -3px -1px 4px -1px rgba(51, 50, 50, 0.12),
  3px 1px 4px -1px rgba(51, 50, 50, 0.12);
}

.expansion-panel > *{
  padding: 10px;
}

.expansion-panel-content{
  display: none;
  padding: 0 10px 12px 10px;
  transition: all 1s;
  margin-top: 9px;
  font-size: 18px;
}

.expansion-panel-header{
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  text-align: left;
  width: 100%;
  border: none;
  font-size: 20px;
}

.expansion-panel-header::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c3b2b2;
}

.expansion-panel-header:focus{
  outline: none;
}

.expansion-panel-group .expansion-panel:first-child{
  box-shadow: 0 -1px 4px 0 rgba(34, 60, 80, 0.27);
}

.expansion-panel-group .expansion-panel:last-child{
  box-shadow: 0 1px 4px 0 rgba(34, 60, 80, 0.27);
}

.flex-center{
  display: flex;
  justify-content: center;
}

.container{
  padding: 20px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.card{
  margin: 0 0;
  border: 0 solid #000;
  /*border-radius: 5px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: end;
  height: 100%;
  position: relative !important;
  padding: 10px;
}

.card-title:hover{
  text-decoration: underline;
}

.card *{
  position: relative !important;
}

.card-title{
  font-size: 1.1rem;
  width: 100%;
  color: #000;
  text-align: center;
  margin-top: auto;
  padding: 0;
  pointer-events: auto;
  max-width: fit-content;
  min-width: -webkit-fill-available;
}

.card-detail{
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0 0 30px 0;
  top: 0;
  background: linear-gradient(-180deg, #000, #000000b3, transparent);
  color: #fff;
}

.card-score{
  margin: 0;
  padding: 3px;
  font-size: 1.3rem;
}

.card-shadow{
  display: flex;
  align-content: end;
  position: absolute;
  width: 100%;
  padding-top: 30px;
  bottom: 0;
  background: linear-gradient(0, #000, #000000b3, transparent);
}

.card-img{
  display: block;
  object-fit: cover;
  border-radius: 3px;
  min-height: 300px;
  min-width: 200px;
}

.carousel{
  /*display: none;*/
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-content{
  width: 100%;
  color: #fff;
  padding: 2px 0;
  background-color: #4e3d53;
  text-align: center;
  font-size: 26px;
}

.opc-5{
  background-color: #A98B98;
  margin: auto 0 0 0;
  width: 100%;
}

.card-link{

}

#nfs{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 0;
}

.nf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #777777;
  opacity: 0;
  padding: 10px;
  margin-top: 2px;
  max-height: 100px;
  max-width: 400px;
  transition: all 0.2s;
  transform: translateX(-100vw);

  &:hover{
    opacity: 1;
  }

  & a{
    color: #032e6d;
    text-decoration: underline;
  }

}

.title-nf{
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 1.1rem;
  width: 100%;

  ::before{
    content: '';
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: $color-primary;
  }
}

.content-nf{
  font-size: 1rem;
  margin: 0 0 0 15px;
  padding: 0;
}

.ripple{
  position: relative;
  overflow: hidden;
}

.popover{
  /*opacity: 0;*/
  position: absolute;
  background-color: #caaeae;
  padding: 20px;
  max-width: 150px;
  transition: opacity .2s
}

.popover-description{

}

#tooltips{}

.get-tooltip{
  /*margin: 0;*/
}
.tooltip{
  opacity: 0;
  padding: 2px;
  background-color: #777;
  color: #fff;
  border-radius: 2px;
  position: absolute;
  font-size: 13px;
  transition: opacity .3s;
}

.triangle-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #777
}

.mr-0{
  margin: 0;
}

.pd-0{
  padding: 0;
}

.triangle-up {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #777;
}

.slider{
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.no-select{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.slider > .card{
  position: relative;
  pointer-events: auto;
}

.chips{
  padding: 3px 10px;
  background: #d4cfcf;
  border-radius: 50px;
  font-size: 1rem;
  height: 50%;
}

.chips[close-chips] > .close-chips{
  display: unset;
}

.close-chips{
  display: none;
  cursor: pointer;
  padding-left: 5px;
}

.circle{
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
  animation: ripple 0.4s linear;
}

.btn-light[ripple] span, .btn-text[ripple] span{
  background-color: #000;
  filter: none;
}

.btn-danger[ripple] span, .btn-text[ripple] span{
  background-color: #ffds;
  filter: none;
}

.btn-text-danger[ripple] span{
  background-color: $color-danger;
  filter: none;
}

.btn-info[ripple] span, .btn-outline[ripple] span{
  background-color: #000;
  filter: none;
}

.btn{
  text-align: center;
  border: 0 solid $color-default;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  padding: .375rem .75rem;
  background-color: $color-default;
  color: #fff;
  position: relative;
  overflow: hidden;

  &:hover{
    opacity: 0.7;
  }

  &:focus{
    outline: none;
  }

  &.btn-outline{
    background-color: transparent;
    border-width: 1px;
    border-color: #000;
    color: #000;
  }
  &:focus{
    box-shadow: 0 0 5px 3px rgba(34, 60, 80, 0.38);
  }

  &.btn-lg{
    font-size: 2rem;
  }

  &.btn-sm{
    font-size: .5rem;
  }

  &.btn-block{
    width: 100%;
    max-width: none;
  }

  &.btn-danger{
    color: #fff;
    background-color: $color-danger;
    border-color: #dc3545;
  }

  &.btn-light{
    color: #000;
    background-color: #fff;
    border-color: #f8f9fa;
  }

  &.btn-info{
    color: #fff;
    background-color: $color-info;
    border-color: #0dcaf0;
  }

  &.btn-success{
    color: #fff;
    background-color: $color-success;
    border-color: #198754;
  }

  &.btn-primary{
    color: #fff;
    background-color: $color-primary;
    border-color: #0d6efd;
  }

  &.btn-text{
    color: #000;
    background-color: transparent;
    border-width: 0;
  }

  &.btn-text-danger{
    color: #ff5252;
  }

  &.btn-group{
    margin: 5px 0;
    display: flex;
  }
}

.mr-1{
  margin: 10px;
}

.btn-group button{
  border-width: 0;
}

.group-radius button:first-child{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.group-radius button:last-child{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.btn-group-vertical{
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}

.btn-group-vertical button{
  margin: 0;
  border-width: 0;
}

.btn-group-vertical button:first-child{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.btn-group-vertical button:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input{
  padding: 3px;
  border: 1px solid $color-primary;
  border-radius: 2px;
  font-size: 1rem;
  outline: none;
}

.input:focus{
  outline: none;
}

.flex{
  display: flex;
}

@keyframes ripple {
  20%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
    transform: scale(2.6);
  }
}

@media screen and (max-width: 700px) {
  .card-img{
    max-height: 400px;
  }

  #carousel-anime{
    display: none;
  }

  :root{
    font-size: 20px;
  }
}